!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :content => "IE=edge,chrome=1", :'http-equiv' => "X-UA-Compatible" }

    %title= title
    %link{ :href => "/favicon.ico", :rel => "icon", :type =>"image/x-icon" }
    %link{ :href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css", :media => "all" }
    %link{ :href => "//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/stylesheets/application.css", :rel => "stylesheet", :type => "text/css", :media => "all" }

  %body{ :lang => 'en' }
    #container
      %header.wrapper
        %h1
          %a{ :href => "/" }= title

      #main.wrapper
        != yield

      %footer.wrapper
        %p
          %a{ :href => "http://hackatron.github.com" } Hackatron
          Copyright &copy; #{Time.now.strftime("%Y")}

    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", :type => "text/javascript" }/
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/jquery.min.js"%3E%3C/script%3E'))